<p style="color: green"><%= notice %></p>

<%= render @greg %>

<div>
  <%= link_to "Edit this greg", edit_greg_path(@greg) %> |
  <%= link_to "Back to gregs", gregs_path %>

  <%= button_to "Destroy this greg", @greg, method: :delete %>
</div>
