

 <h1><%= link_to '清空購物車', cart_path, data: { turbo_method: :delete, turbo_confirm: "確認   
        刪除？" }, class: "btn btn-default btn-danger"  %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <td>商品名稱</td>
      <td>數量</td>
      <td>單價</td>
      <td>小計</td>
    </tr> 
  </thead>
  <tbody>
  <% if @check.present? %>
  <% @check.each do |product| %>
 
    <tr>
      <td><%= product.title %></td>
      <td><%= product.count_cart %></td>
      <td><%= product.price %></td>
      <td><%= product.price * product.count_cart %></td>
      
    </tr>
  
    
  <% end %>
  <tfoot>
    <tr>
    <td colspan="3">總計</td>
    <td><%= @total_price %></td>
    
    </tfoot>
<% else %>

<% end %>
</tbody>
  
</table>

<%= link_to '繼續選購', products_path, class: "btn btn-default" %>
<%= link_to '結帳', '#', class: "btn btn-default" %>