

 <h1><%= link_to t("deleteCart"), cart_path, data: { turbo_method: :delete, turbo_confirm: "確認   
        刪除？" }, class: "btn btn-default btn-danger"  %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <td><%=t("projectName")%></td>
      <td><%=t("projectCount")%></td>
      <td><%=t("siglePrice")%></td>
      <td><%=t("total")%></td>
    </tr> 
  </thead>
  <tbody>
  <% if @check.present? %>
  <% @check.each do |product| %>
    <% if product.count_cart > 0 %>
    <tr>
      <td><%= product.title %></td>
      <td><%= product.count_cart %></td>
      <td><%= product.price %></td>
      <td><%= product.price * product.count_cart %></td>
      
    </tr>
  
    <% end %>
  <% end %>
  <tfoot>
    <tr>
    <td colspan="3"><%= t("sum")%></td>
    <td><%= @total_price %></td>
    
    </tfoot>
<% else %>

<% end %>
</tbody>
  
</table>

<%= link_to t("back"), products_path+@loc, class: "btn btn-warning"  %>
<%= link_to t("checkout"), checkout_cart_path+@loc, class: "btn btn-default btn-danger"  %>