<div style="display: flex; gap: 10px;">
  <%= link_to t("home"), homes_path, class: "btn btn-primary" %>
  <%= link_to t("cart"), cart_path, class: "btn btn-success" %>
  <% if user_signed_in? %>
    <%= button_to t("signout"), destroy_user_session_path, method: :delete, class: "btn btn-success", style: "display: inline-block;" %>
    <%= link_to t("profile"), edit_user_registration_path, class: "btn btn-success" %>
  <% else %>
    <%= link_to t("registration"), new_user_registration_path, class: "btn btn-success" %>
    <%= link_to t("signin"), new_user_session_path, class: "btn btn-success" %>
  <% end %>
</div>
<br>
<div style="display: flex; gap: 10px;">
  <%= link_to "English", url_for(locale: :en), class: "btn btn-success" %>
  <%= link_to "中文", url_for(locale: :zhTW), class: "btn btn-success" %>
</div>
<dl class="row">
  <dt class="col-sm-3"><%= t("a1")%></dt>
  <dd class="col-sm-9"><%= t("b1")%></dd>

  <dt class="col-sm-3"><%= t("a2")%>ß</dt>
  <dd class="col-sm-9">
    <p><%= t("b2")%></p>
    <p><%= t("b3")%></p>
  </dd>

  <dt class="col-sm-3"><%= t("a3")%></dt>
  <dd class="col-sm-9"><%= t("b4")%></dd>

  <dt class="col-sm-3 text-truncate"><%= t("a4")%></dt>
  <dd class="col-sm-9"><%= t("b5")%></dd>

  <dt class="col-sm-3"><%= t("a5")%></dt>
  <dd class="col-sm-9">
    <dl class="row">
      <dt class="col-sm-4"><%= t("b6")%></dt>
      
    </dl>
  </dd>
</dl>