
<div style="display: flex; gap: 10px;">
  <%= link_to t("home"), homes_path+@loc, class: "btn btn-primary" %>
  <%= link_to t("addProject"), new_product_path+@loc, class: "btn btn-primary" %>
  <%= link_to t("cart"), cart_path+@loc, class: "btn btn-success" %>
  <%= link_to t("my_order"), orders_path+@loc, class: "btn btn-success" %>
  <%= link_to t("my_code"), code_orders_path+@loc, class: "btn btn-success" %>
  <% if user_signed_in? %>
    <%= button_to t("signout"), destroy_user_session_path, method: :delete, class: "btn btn-success", style: "display: inline-block;" %>
    <%= link_to t("profile"), edit_user_registration_path, class: "btn btn-success" %>
  <% else %>
    <%= link_to t("registration"), new_user_registration_path, class: "btn btn-success" %>
    <%= link_to t("signin"), new_user_session_path, class: "btn btn-success" %>
  <% end %>
</div>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <td><%= t("projectName")%></td>
      <td><%= t("type")%></td>
      <td><%=t("projectDes")%></td>
      <td><%=t("projectPrice")%></td>
      <td><%=t("projectMov")%></td>
      <td><%=t("stock")%></td>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>

    <tr>
      <td>
        <%= button_to t("addCart"), test_products_path(product), class: "btn btn-xs btn-danger" %>
        <%= product.title %>
      </td>
      <td><%= product.type %>
      <td><%= product.description %>
      <td><%= product.price %></td>
      <td>
        <%= link_to t("edit"), edit_product_path(product), class: "btn btn-xs btn-default" %>
        <%= button_to t("delete"), product_path(product), method: "delete", data: { confirm: "確定刪除?" }, class: "btn btn-xs btn-default" %>
      </td>
       <td><%= product.stock%></td>
    </tr>
    
    <% end %>
  </tbody>

</table>